@font-face {
  font-family: "Minecraft";
  src: url("../assets/fonts/Minecraft_AE.ttf") format("truetype");
}

@font-face {
  font-family: "Unifont";
  src: url("../assets/fonts/unifont-16.0.01.otf") format("truetype");
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: var(--mcg-text-color);
  font-family: "Barlow", "Noto Sans SC", sans-serif;
}

#app {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
