@media screen and (max-width: 600px) {
  .cg-container {
    height: auto !important;
  }

  .cg-header {
    height: auto !important;
    margin: 60px 0 20px 0;
    &__title {
      font-size: 28px !important;
      &::after {
        top: -22px !important;
        left: auto !important;
        right: 0;
      }
    }
  }

  .cg-body {
    flex-direction: column;
    gap: 10px;
    min-height: auto !important;
    &__input {
      width: 100% !important;
      height: 400px !important;
    }
    .color-picker-body {
      height: auto !important;
      align-items: center;
      flex-direction: column;
      .picker-container {
        margin-bottom: 20px !important;
        .picker {
          margin-right: 0 !important;
        }
      }
      .color-list-wrapper {
        width: 80%;
        .color-list {
          width: 100% !important;
          height: auto !important;
          min-height: 200px;
          max-height: 300px;
        }
      }
    }
  }

  .text-output-wrapper {
    height: 600px !important;
    .text-params {
      flex-wrap: wrap;
      gap: 10px;
      .tool-bar-wrapper {
        margin-left: 0 !important;
      }
    }
  }

  .mcg-presets-dialog {
    .t-dialog {
      width: 100% !important;
    }
  }
}
